@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 40 33% 97%;
    --foreground: 222 47% 15%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 15%;
    --primary: 222 47% 15%;
    --primary-foreground: 210 40% 98%;
    --secondary: 40 20% 94%;
    --secondary-foreground: 222 47% 15%;
    --muted: 40 20% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 43 74% 49%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 43 74% 49%;
    --radius: 0.75rem;
}

.dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 43 74% 49%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 43 74% 49%;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }
}